# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Envs
.env
.venv/
venv/

# Build artifacts
build/
dist/
release/

# Bundled binaries (download during CI)
ffmpeg.exe
bin/yt-dlp.exe

# Logs
logs/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Archives at root
YT-DLP_GUI.zip
